@page "/delete/{id}"
@inherits StaffDeleteBase
@rendermode InteractiveServer

<div class="row justify-content-center" <div class="card-footer text-center">
    <button class="btn btn-danger m-1" onclick="@delete">Delete</button>
    <a href="/stafflist" class=" btn btn-primary m-1">Back</a>
</div>
</div>